## Moving averages exercise

As a part of project, i needed to resolve an exercise about moving average

### Import the data

In [59]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
%matplotlib inline

In [137]:
#read csv
df = pd.read_csv('C:\\Users\\mayke\\Documents\\Cursos\\Data-Analyst-Nanodegree\\projects\\project-1-explore-weather-trends\data\moving-average-exercise.csv',thousands=',')

In [5]:
df.head(5)

       Date  Sales
0  1/1/2009   7855
1  1/2/2009  12329
2  1/3/2009  11617
3  1/4/2009   7684
4  1/5/2009   8448

In [40]:
#check datatypes
df.dtypes

Date     datetime64[ns]
Sales             int64
dtype: object

In [65]:
#cast Date to datetime type
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
df.head()

        Date  Sales
0 2009-01-01   7855
1 2009-01-02  12329
2 2009-01-03  11617
3 2009-01-04   7684
4 2009-01-05   8448

### Calculate moving average

In [8]:
df.describe()

              Sales
count     90.000000
mean    9720.600000
std     1855.530336
min     7684.000000
25%     8464.000000
50%     8748.000000
75%    12194.750000
max    13307.000000

In [66]:
#creating moving average
df['moving_average_7d'] = df.iloc[:,1].rolling(window=7).mean()
df['moving_average_14d'] = df.iloc[:,1].rolling(window=14).mean()

In [67]:
df.head(10)

        Date  Sales  moving_average_7d  moving_average_14d
0 2009-01-01   7855                NaN                 NaN
1 2009-01-02  12329                NaN                 NaN
2 2009-01-03  11617                NaN                 NaN
3 2009-01-04   7684                NaN                 NaN
4 2009-01-05   8448                NaN                 NaN
5 2009-01-06   8022                NaN                 NaN
6 2009-01-07   8410        9195.000000                 NaN
7 2009-01-08   7850        9194.285714                 NaN
8 2009-01-09  12399        9204.285714                 NaN
9 2009-01-10  11919        9247.428571                 NaN

In [68]:
#What is the 7-day moving average for January 11, 2009?

df[df['Date'] == '2009-01-11']

         Date  Sales  moving_average_7d  moving_average_14d
10 2009-01-11   7767        9259.285714                 NaN

In [69]:
#What is the 14-day moving average for March 19, 2009?
df[df['Date'] == '2009-03-19']

         Date  Sales  moving_average_7d  moving_average_14d
77 2009-03-19   8497        9938.428571         9981.071429