# Data Analyst Nanodegree - Project 2 - Investigate a dataset: No-show Appointements

## Table of Contents
<ul>
<li><a href="#objective">Objective</a></li>
<li><a href="#premisses">Premisses</a></li>
<li><a href="#datawrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='objective'></a>
## Objective

<!---O objetivo desta análise é explorar dados sobre agendamento de consultas no Brasil para entender quais as características dos pacientes que costumam faltar à estes agendamentos. Sabendo as características dos pacientes, podemos prever as faltas e tomar ações para engajar os pacientes e fazer com que os mesmos compareçam à consulta. -->

The objective of this analysis is to explore data on scheduling appointments in Brazil, to understand what the characteristics of patients who usually miss these appointments. Knowing the characteristics of the patients, we can predict the absences and take measures to engage the patients and make them attend the appointment.

<a id='premisses'></a>
## Premisses
The data has the characteristcs below:
- 100k medical appointments in Brazil
- To learn more about the data access [here]('https://www.kaggle.com/joniarroba/noshowappointments')

<a id='datawrangling'></a>
## Data Wrangling

#### Import ibs

In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sbn
import matplotlib.pyplot as plt
%matplotlib inline

#### Import data

In [7]:
os.getcwd()

'C:\\git-repository\\data-analyst-nanodegree\\projects\\project-2-investigate-dataset\\notebooks'

In [10]:
df = pd.read_csv('C:\\git-repository\\data-analyst-nanodegree\\projects\\project-2-investigate-dataset\\data\\noshowappointments-kagglev2-may-2016.csv')
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [12]:
df.ScheduledDay.min()

'2015-11-10T07:13:56Z'

In [13]:
df.ScheduledDay.max()

'2016-06-08T20:07:23Z'

<a id='eda'></a>
## Exploratory Data Analysis

<a id='conclusions'></a>
## Conclusions