In [1]:
df = [0.3,0.324,0.333,0.4,0.442,0.5,0.555]

In [7]:
import pandas as pd
import numpy as np

In [ ]:
pd.cut(df,)

In [24]:
teste = np.array([0.1, 0.12, 0.133, 0.2, 0.2323, 0.3,0.31212,0.4,0.454,0.4665,0.5,0.5132,0.5678])
bins = [0.1,0.2,0.3,0.4,0.5,0.6]
labels = [0.1,0.2,0.3,0.4,0.5]

pd.DataFrame(pd.cut(teste, bins=bins, labels=labels,right=False,include_lowest=True))

      0
0   0.1
1   0.1
2   0.1
3   0.2
4   0.2
5   0.3
6   0.3
7   0.4
8   0.4
9   0.4
10  0.5
11  0.5
12  0.5